@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadeIn {
	animation: fadeIn 0.3s cubic-bezier(0.08, 0.82, 0.17, 1);
}

@keyframes ZoomUpIn {
	0% {
		opacity: 0;
		transform-origin: 50% 0%;
		transform: scale(0.8);
	}
	100% {
		transform-origin: 50% 0%;
		transform: scale(1);
	}
}

.ZoomUpIn {
	animation: ZoomUpIn 0.3s cubic-bezier(0.08, 0.82, 0.17, 1);
}

@keyframes xRightMatrix {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.xRightMatrix {
	animation: xRightMatrix .3s ease-out;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.fa-spin {
	animation: spin 2s infinite linear;
}

@keyframes moveDownIn {
	0% {
		transform-origin: 0 0;
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform-origin: 0 0;
		transform: translateY(0%);
		opacity: 1;
	}
}

.moveDownIn {
	animation: moveDownIn .3s ease-out;
}

@keyframes rotateCircleBack {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }

  100% {
    transform-origin: 50% 50%;
    transform: rotate(45deg);
  }
}

@keyframes loadTween {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateX(-180deg);
  }
}

@keyframes xRightMatrixR {
    0% {
        opacity: 0;
        transform: translateX(50px) rotate(30deg) scale(1.5, 1.5);
    }
    20% {
        opacity: 0;
        transform: translateX(50px) rotate(30deg) scale(1.5, 1.5);
    }

    80% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg) scale(1, 1);
    }
}

@keyframes xLeftMatrixR {
    0% {
        opacity: 0;
        transform: translateX(-50px) rotate(-30deg) scale(1.5, 1.5);
    }
    20% {
        opacity: 0;
        transform: translateX(-50px) rotate(-30deg) scale(1.5, 1.5);
    }

    80% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg) scale(1, 1);
    }
}

@keyframes Load5 {
    0% {
        opacity: 0;
        transform: translate(-30px,30px) rotate(-30deg) scale(1.5, 1.5);
    }
    20% {
        opacity: 0;
        transform: translate(-30px,30px) rotate(-30deg) scale(1.5, 1.5);
    }

    80% {
        opacity: 1;
        transform: translate(0,0) rotate(0deg) scale(1, 1);
    }
}

@keyframes Load4 {
    0% {
        opacity: 0;
        transform: translate(30px,-30px) rotate(-30deg) scale(1.5, 1.5);
    }
    20% {
        opacity: 0;
        transform: translate(30px,-30px) rotate(-30deg) scale(1.5, 1.5);
    }

    80% {
        opacity: 1;
        transform: translate(0,0) rotate(0deg) scale(1, 1);
    }
}

@keyframes Load3 {
    0% {
        opacity: 0;
        transform: translate(-30px,-30px) rotate(30deg) scale(1.5, 1.5);
    }
    20% {
        opacity: 0;
        transform: translate(-30px,-30px) rotate(30deg) scale(1.5, 1.5);
    }

    80% {
        opacity: 1;
        transform: translate(0,0) rotate(0deg) scale(1, 1);
    }
}

@keyframes Load2 {
    0% {
        opacity: 0;
        transform: translate(-30px,30px) rotate(-30deg) scale(1.5, 1.5);
    }
    20% {
        opacity: 0;
        transform: translate(-30px,30px) rotate(-30deg) scale(1.5, 1.5);
    }

    80% {
        opacity: 1;
        transform: translate(0,0) rotate(0deg) scale(1, 1);
    }
}

@keyframes Load1 {
    0% {
        opacity: 0;
        transform: translate(30px,30px) rotate(30deg) scale(1.5, 1.5);
    }
    20% {
        opacity: 0;
        transform: translate(30px,30px) rotate(30deg) scale(1.5, 1.5);
    }

    80% {
        opacity: 1;
        transform: translate(0,0) rotate(0deg) scale(1, 1);
    }
}

@keyframes Load0 {
    0% {
        opacity: 0;
        transform: translate(30px,-30px) rotate(-30deg) scale(1.5, 1.5);
    }
    20% {
        opacity: 0;
        transform: translate(30px,-30px) rotate(-30deg) scale(1.5, 1.5);
    }

    80% {
        opacity: 1;
        transform: translate(0,0) rotate(0deg) scale(1, 1);
    }
}

@keyframes alphaTo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}