.height {
	height: 100%
}
.width {
	width: 100%
}

//搜索页面样式
.search-main {
	margin-top: 10px;
}

.font-weight-bold {
	font-weight: bold;
}

.padding-top-7px {
	padding-top: 7px;
}

.text-align-right {
	text-align: right;
}
.padding-bottom-7px {
	padding-bottom: 7px;
}

.margin-top-10px {
	margin-top: 10px;
}

.margin-top-15px {
	margin-top: 15px;
}

.font-size-16px {
	font-size: 16px;
}

.font-size-15px {
	font-size: 15px;
}

.margin-bottom-15px {
	margin-bottom: 15px;
}

.margin-top-7px {
	margin-top: 7px;
}

.margin-top-5px {
	margin-top: 5px;
}

.margin-5px {
	margin: 5px;
}

.margin-left-10px {
	margin-left: 10px;
}

.margin-bottom-5px {
	margin-bottom: 5px;
}

.margin-bottom-10px {
	margin-bottom: 10px;
}

.margin-bottom-40px {
	margin-bottom: 40px;
}

.padding-10px {
	padding: 10px;
}

.padding-7px {
	padding: 7px;
}

.padding-5px {
	padding: 5px;
}

.padding-right-5px {
	padding-right: 5px;
}

.padding-left-5px {
	padding-left: 5px;
}

.margin-left-5 {
	margin-left: 5px;
}

.bg-wight {
	background-color: white;
}

.bg-f5f5f5 {
	background-color: #f5f5f5;
}

.color-grey {
	color: #999999;
}

.color-1D2227 {
	color: #1D2227;
}
.color-white {
	color: #E8E8E8;
}

.bg-color-white {
	background-color: #FFFFFF;
}

.bg-color-lightgray {
	background-color: white;	
}

.color-xiaoai {
	color: #FE4557;
}

.color-gold {
	color: #F7BB74;
}

.width-80 {
	width: 81%;
}

.width-90 {
	width: 90%;
}

.width-85 {
	width: 85%;
}

.display-none {
	display: none;
}

.padding-left-right-0 {
	padding-left: 0px;
	padding-right: 0px;
}

.text-align-center {
	text-align: center;
}

.margin-top-bottom-5px {
	margin-top: 5px;
	margin-bottom: 5px;
}

.margin-top-bottom-7px {
	margin-top: 7px;
	margin-bottom: 7px;
}

.margin-top-40px {
	margin-top: 40px;
}

.padding-top-bottom-5px {
	padding-top: 5px;
	padding-bottom: 5px;
}

.padding-top-bottom-10px {
	padding-top: 10px;
	padding-bottom: 10px;
}

.float-right {
	float: right;
}

.height-64px {
	height: 64px;
}

//搜索界面数输入框样式
.search-text {
	width: 81%;
    border: 0;
    padding: 7px;
    border-radius: 16px;
    font-size: smaller;
    padding-left: 28px;
}

//“搜索”字体样式
.search-lable {
	width: 13%;
    text-align: center;
}

//搜索更多条件按钮样式
.search-more-condition-btn {
	border: 0;
	border-radius: 0;
	color: #ABABAB;
	width: 100%;
	padding: 12px;
    font-size: smaller;
}


.search-more-condition div {
	margin-bottom: 5px;
}

//按地址搜索按钮样式
.search-add {
	padding: 0;
	a {
		margin-bottom: 9px;
		padding: 10px;
		text-align: left;
	}
}

.search {
	.searchbtn {
		background: none;
    	border: 0;
	}
}

.login {
	height: 100%;
    background-color: #293139;
    //登录页面背景样式
	.login-backgurond {
		img {
			width: 100%;
		}
	}

	.login-main {
		position: absolute;
		text-align: center;
	    width: 100%;
		.logo {
			margin-top: 45px;
			width: 30%;
		}
		h4 {
			color: #FE4557;
			margin-bottom: 50px;
		}
		div {
			margin-top: 15px;
			img {
				width: 20%;
				padding: 10px;
			}
		}
		.login-registe {
			width: 100%;
			border: 1px solid white;
			text-align: left;
			border-radius: 18px;
			img {
				width: 34px;
			}
			input {
			background: none;
			border: 0;
			}
		}
	}

}


.foot-font a {
	color: #E0E0E0;
}

.register {
	background-color: #1D2226;
	text-align: center;
	height: 100%;
}

.register-main {
	padding-top: 30px;
	.login-registe {
		width: 100%;
		border: 1px solid white;
		text-align: left;
		border-radius: 18px;
		padding: 5px;
		padding-left: 10px;
		img {
			width: 16px;
		}
		input {
		background: none;
		border: 0;
		}
	}
}

.validate {
	padding: 6px;
    color: #FDF9F9;
    background-color: #FE4557;
    border: 0;
    border-radius: 15px;
    width: 100%;
}

.login-btn {
	border: 0;
	background-color: #FE4557;
	color: #FFD5D7;
	width: 86%;
	padding: 6px;
}

.paotuanlist {
	margin-top: 15px;
	.find-bulid-paotuan {
		background-color: #1D2228;
		width:100%;
		text-align: center;
		padding-bottom: 1px;
		.find-bulid {
			width:100%;
			text-align: center;
			h3 {
				margin-top: 2px;
			}
		}
		img {
			width: 35%;
		}
	}

	li {
		position: relative;
		.paotuanlist-bg-img {
			width: 100%;
			position: absolute;
			img {
				width: 100%;
			}
		}
		.paotuan {
			position: relative;
			width: 100%;
			img {
				width: 100%;
			}
			&:before {
			    position: absolute;
			    content: "";
			    width: 100%;
			    height: 36px;
			    left: 0;
			    background: #000;
			    opacity: .6;
			    filter: alpha(Opacity=60);
			    bottom: 0;
				@include opacity(0.6);
			}
			.bottom {
				position: absolute;
    			bottom: 0px;
			}
			.attest {
				height: 20px;
    			width: 20px;
			}
			h4 {
				display: inline;
			} 
		}
	}
}


.text-noborder {
	border: 0;
    background: none;
}

.commit_btn {
    height: 74%;
    width: 74%;
    vertical-align: middle;
    border: 0;
    background-color: #FF4658;
}

.bulid-main {
	width: 100%;
	margin-top: 10px;
	hr {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.row-logo {
		width: 10%;
		display: inline;
		img {
			width: 16px;
			vertical-align: top;
		}
	}
	.row-container {
		width: 80%;
		display: inline;
		position: relative;
		.logo {
			height: 55px;
		}
		.logo-bg {
			height: 55px;
		}

		span {
			margin-left: 10%;
		}
		.input-file-logo {
		    width: 55px;
		    height: 55px;
		    position: absolute;
		    top: -16px;
		    left: 10%;
		    opacity: 0;
		    z-index: 2;
		}
		.input-file-logo-bg {
			width: 165px;
		    height: 55px;
		    position: absolute;
		    top: -16px;
		    left: 0px;
		    opacity: 0;
		    z-index: 2;
		}
		.preview-logo {
			position: absolute;
		    left: 0px;
		    width: 55px;
		    height: 55px;
		    top: -22px;
		    z-index: 1;
		}
		.preview-logo_bg {
			position: absolute;
		    left: 0px;
		    width: 165px;
		    height: 55px;
		    top: -22px;
		    z-index: 1;
		}
		
	}
	img {
		margin: 4px;
	}
	label {
		font-size: 12px;
		color: #BEBEBE5
	}
	.description {
		border: 1px solid #D3D3D3;
    	width: 90%;
	}
}

.exportemail {
	div {
		.border-bottom-1px-solid-gray {
			border-bottom: 1px solid #F5F5F5;
		}
		 div {
		    padding: 5px;
		    i {
		    	color: #CDCDCD;
		    }
		}
	}
	hr {
		margin-top: 5px;
		margin-bottom: 0;
	}
	i {
		color: #8D9192;
	}
	a {
		color: black;
	}

	.send {
		padding-top: 30px;
		background-color: #F5F5F5;
		text-align: center;
	}
}

.launchactivity {
	img {
		width: 15px;
	}
	hr {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	button {
		border: 0px;
		background: none;
		img {
			width: 120%;
		}
	}
	label {
		font-size: 12px;
		padding-bottom: 7px;
		vertical-align: middle;
	}
	.advanced-settings-logo {
		width: 18%;
	}
	.activity-select {
		border: 1px solid #F5F5F5;
		padding: 3px;
		position: absolute;
		width: 92%;
		background-color: #FFFFFF;
    	z-index: 1;
    	border-bottom-left-radius: 5px;
    	border-bottom-right-radius: 5px;
		hr {
	    	margin-top: 3px;
			margin-bottom: 3px;
	    }
	}
	.activity-add {
		padding-left: 8%;
	}

	#activity-add :cleck {

	}
}

.logo-plus {
	position: relative;
	width: 50px;
	height: 50px;
	border: 1px solid #A9A9A9;

	&:before {
		content: '';
		position: absolute;
		top: 10px;
		left: 50%;
		width: 1px;
		height: 30px;
		background: #A9A9A9;
	}

	&:after {
		content: '';
		position: absolute;
		top: 48%;
		left: 10px;
		width: 30px;
		height: 1px;
		background: #A9A9A9;
	}
}

.advancedsettings {
	a {
		border: 0;
		border-radius: 0;
		color: #ABABAB;
		width: 100%;
		padding: 12px;
		font-size: smaller;
		width: 100%;
		padding: 7px;
	}

	.row {
		div {
			padding: 5px;
		}
	}
}

.bg-color-xiaoai {
	background-color: #FF4658;
}

.advancedsettings {
	hr {
		margin-top: 5px;
		margin-bottom: 10px;
	}
}

.font-size-12px {
	font-size: 12px;
	label {
		position: relative;
	}
}

.vertical-align-text-top {
	vertical-align: text-top;
}

.signequipment {
	hr {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.ok_btn {
	    padding: 5px;
	    background-color: #FF4658;
	}
}

.signinfo {
	.img {
		float: left;
	}
	.pay {
		padding: 1px 3px 1px 3px;
	    background-color: #FF4658;
	    color: white;
	    border-radius: 2px;
	    margin-left: 5px;
	}
	hr {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.sign-no {
		float: right;
		margin-top: 10px;
	}
	.sign-logo,.rock-logo{
		width: 44px;
	}
	.two-dimension-code {
		text-align: center;
	}
}

.addProjectDailog {
	width: 100%;
}

.search-btn {
	background: none;
    border: 0;
    color: black;
}

.activity_bulid_Dialog {
	padding: 15px;

	.dialg-img {
		width: 55px;
        height: 55px;
	}
	.congratulate {
		font-size: 20px;
	}
	.ok_btn {
		border: 0;
	    background-color: #FF4658;
	    color: white;
	    padding: 5px;
	    margin-top: 33px;
	}
}

.protocol {
	list-style-type: decimal;
	margin-left: 15px;
}

.overflow-scroll {
	.ngdialog-content {
		overflow: scroll;
	}
}

.paysuccess {
	.paylogo_bg {
		background-color: #8B063C;
	}
	.paylogo {
	    width: 60%;
    	margin: 30px;		
	}
	.button {
	    width: 40%;
	    margin: 12px;
	    padding: 8px;
	    background-color: #FF4456;
	    border: 0;
	    color: white;
	}

}

.margin-left-55px {
	margin-left: 55px;
}

.logo-small {
    width: 46px;
    height: 46px;
    position: absolute;
    left: 50%;
    margin-left: -23px;
    margin-top: 74px;
}

// 高级设置背景颜色设置
.ngdialog.ngdialog-theme-default.dialog-bg-f5f5f5 {
	.ngdialog-content {
		background-color: #f5f5f5;
	}
}