<link href="marketing/marketing.css"  rel="stylesheet">
<div id="marketing_container" style="background-image: url('/image/marketing/bg.png');background-size:cover;background-repeat: no-repeat; ">
<div class="container-fluid " style="position: relative;">
<h3 class="text-center"><img src="/image/marketing/clubs_header.png" style="height:30px"></h3>
<div class="col-xs-12 no-padding">
<a ng-href="{{marketing.wx_url}}" class="btn btn-link  no-padding"  style="color:#fff;text-decoration: underline;display: none">活动规则</a>
</div>
<button ng-if="can_reg" class="btn btn-default no-padding no-border " ng-click="reg()" style="position: absolute;width:50px;top:15px;right:5px"><img src="/image/marketing/reg_label.png"  ></button>
<div class="col-xs-12 no-padding text-center" ng-if="reg_length==0">
<small  class="text-center" style="color:#fff">暂无报名的跑团</small>
</div>
<div class="col-xs-6 col-sm-4 col-md-2" ng-repeat="rc in regClubs" style="padding:4px;">
 <a ng-href="/wechat/#/clubs/home?club_eng={{rc.club_eng}}" class="btn btn-default container-fluid no-border " style="background-color:transparent;background-image: url('/image/marketing/club_bg.png');background-size:100% 65px;background-repeat: no-repeat;height:65px;line-height:65px;padding:4px 4px 0 8px;width:100% ">
     <div class="col-xs-5 no-padding text-left" style="line-height:54px;width:50px">
      <img ng-if="rc.club_logo"
			ng-src="{{STATIC_IMG_PRE}}/{{rc.club_logo}}!m.pre" class="thumb-circle" style="width:45px;height:45px">
       <img ng-if="!rc.club_logo"
			ng-src="/image/club_default.png"  class="thumb-circle" style="width:45px;height:45px">
     </div>
      <div class="col-xs-7  text-left no-padding">
       <div class="container-fluid no-padding">
         <div class="col-xs-12  text-left no-padding list-item-title text-truncate marketing-font-color" style="height:24px;line-height: 24px">
          {{rc.club_name}}
         </div>
          <div class="col-xs-12  text-left no-padding" style="height:14px;line-height: 14px">
            <small class="marketing-font-color">
           <i class="fa fa-users"></i> {{rc.member_sum}}人
         </small>
         </div>
          <div class="col-xs-12  text-left no-padding" style="height:19px;line-height: 19px">
            <small class="marketing-font-color text-truncate">
           {{rc.club_slogan}}
         </small>
         </div>
         </div>
      </div>
 </a>
</div>

</div>

<div class="container-fluid text-center" style="margin-bottom:40px">
<pre id="rule_pre" class="text-left" style="color:#fff;background-color: transparent;border: none;padding-left:0"></pre>
<a ng-if="can_reg" class="btn btn-default no-padding no-border " ng-click="reg()" style="background-color:transparent;border-radius:8px ">
  <img src="/image/marketing/reg.png">
</a>
</div>

</div>






                              
