<div class="container-fluid" style="padding-top:8px;padding-bottom:8px">
<h5 class=" no-margin main-color">应用同步 <img src="/image/paotuanzhuce/list.png" style="height:14px"></h5>
</div>
<div class="list-group no-border-side no-radius no-margin">
   <div  ng-if="!codoon_bind" class="list-group-item container-fluid no-padding">
   <div class="col-xs-3" style="height:54px;line-height:54px;">
  <img src="/image/bind/codoon.png" style="width:30px;">
  </div>
   <div class="col-xs-6 no-padding" style="line-height:54px;">
                   咕咚
  </div>
   <div class="col-xs-3 text-right" style="line-height:54px;">
     <a href="/codoon/user" class="btn btn-primary no-border">绑定</a>
  </div>
   </div>
   
  <div ng-if="codoon_bind" class="list-group-item container-fluid no-padding" style="height:54px;line-height:54px;height:61px">
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-3" style="height:54px;line-height:54px;">
     <img src="/image/bind/codoon.png" style="width:30px;">
  </div>
   <div class="col-xs-6 no-padding text-left" style="line-height:54px;height:54px">
                <div class="container-fluid no-padding" style="line-height:54px;height:54px">
                 <div class="col-xs-12 no-padding text-left text-truncate" style="line-height:30px;height:30px" ng-bind="codoon_nick">
                 </div>
                 <div class="col-xs-12 no-padding text-left" style="line-height:20px;height:20px">
                   <small class="text-muted">绑定时间:{{codoon_bind_time}}</small>
                 </div>
                </div>
  </div>
   <div class="col-xs-3 text-right">
     <a class="btn btn-success no-border" href="/bind/unbind?bind_type=1">解绑</a>
  </div>   
  </div>
  <!--
   <div  ng-if="!hupu_bind" class="list-group-item container-fluid no-padding">
   <div class="col-xs-2" style="height:54px;line-height:54px;">
  <img src="/image/bind/hupu.png" style="width:30px;">
  </div>
   <div class="col-xs-7 no-padding" style="line-height:54px;">
                   虎扑
  </div>
   <div class="col-xs-3 text-right" style="line-height:54px;">
     <a href="/hupu/user" class="btn btn-primary no-border">绑定</a>
  </div>
   </div>
  <div ng-if="hupu_bind" class="list-group-item container-fluid no-padding" style="height:54px;line-height:54px;">
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-2" style="height:54px;line-height:54px;">
     <img src="/image/bind/hupu.png" style="width:30px;">
  </div>
   <div class="col-xs-7 no-padding text-left" style="line-height:54px;height:54px">
                <div class="container-fluid no-padding" style="line-height:54px;height:54px">
                 <div class="col-xs-12 no-padding text-left" style="line-height:30px;height:30px" ng-bind="hupu_nick">
                                                             
                 </div>
                 <div class="col-xs-12 no-padding text-left" style="line-height:20px;height:20px">
                   <small class="text-muted">绑定时间:{{hupu_bind_time}}</small>
                 </div>
                </div>
  </div>
   <div class="col-xs-3 text-right">
     <a class="btn btn-success no-border" href="/bind/unbind?bind_type=2">解绑</a>
  </div>   
  </div>
    -->
  
  <!-- 益动绑定 -->
  <div  ng-if="!edoon_bind" class="list-group-item container-fluid no-padding">
   <div class="col-xs-3" style="height:54px;line-height:54px;">
  <img src="/image/bind/edoon.png" style="width:30px;">
  </div>
   <div class="col-xs-6 no-padding" style="line-height:54px;">
                   益动
  </div>
   <div class="col-xs-3 text-right" style="line-height:54px;">
     <a href="/edoon/user" class="btn btn-primary no-border">绑定</a>
  </div>
   </div>
   
  <div ng-if="edoon_bind" class="list-group-item container-fluid no-padding" style="height:54px;line-height:54px;height:61px">
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-3" style="height:54px;line-height:54px;">
     <img src="/image/bind/edoon.png" style="width:30px;">
  </div>
   <div class="col-xs-6 no-padding text-left" style="line-height:54px;height:54px">
                <div class="container-fluid no-padding" style="line-height:54px;height:54px">
                 <div class="col-xs-12 no-padding text-left text-truncate" style="line-height:30px;height:30px" ng-bind="edoon_nick">
                 </div>
                 <div class="col-xs-12 no-padding text-left" style="line-height:20px;height:20px">
                   <small class="text-muted">绑定时间:{{edoon_bind_time}}</small>
                 </div>
                </div>
  </div>
   <div class="col-xs-3 text-right">
     <a class="btn btn-success no-border" href="/bind/unbind?bind_type=3">解绑</a>
  </div>   
  </div>
  <!------------------------------------------>
  
  
  <!-- 小米绑定 -->
  <div  ng-if="!xiaomi_bind" class="list-group-item container-fluid no-padding">
   <div class="col-xs-3" style="height:54px;line-height:54px;">
  <img src="/image/bind/xiaomi.png" style="width:30px;">
  </div>
   <div class="col-xs-6 no-padding" style="line-height:54px;">
                   小米手环
  </div>
   <div class="col-xs-3 text-right" style="line-height:54px;">
     <a href="/xiaomi/user" class="btn btn-primary no-border">绑定</a>
  </div>
   </div>
   
  <div ng-if="xiaomi_bind" class="list-group-item container-fluid no-padding" style="height:54px;line-height:54px;height:61px">
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-3" style="height:54px;line-height:54px;">
     <img src="/image/bind/xiaomi.png" style="width:30px;">
  </div>
   <div class="col-xs-6 no-padding text-left" style="line-height:54px;height:54px">
                <div class="container-fluid no-padding" style="line-height:54px;height:54px">
                 <div class="col-xs-12 no-padding text-left text-truncate" style="line-height:30px;height:30px" ng-bind="xiaomi_nick">
                 </div>
                 <div class="col-xs-12 no-padding text-left" style="line-height:20px;height:20px">
                   <small class="text-muted">绑定时间:{{xiaomi_bind_time}}</small>
                 </div>
                </div>
  </div>
   <div class="col-xs-3 text-right">
     <a class="btn btn-success no-border" href="/bind/unbind?bind_type=4">解绑</a>
  </div>   
  </div>
  <!------------------------------------------>
  
</div>
<div class="container-fluid" style="padding-top:8px;padding-bottom:8px">
<div class="col-xs-9 no-padding" >
<h5 class=" no-margin main-color" style="line-height:26px;height:26px">个人芯片 <img src="/image/paotuanzhuce/list.png" style="height:14px"></h5>
</div>
<div class="col-xs-3  text-right" >
     <a class="btn border-circle btn-primary" ng-click="xp_add()" style="border-color:#009ada;background-color: transparent;border:thin #009ada solid;padding:2px 4px 0px 4px"><i class="fa fa-plus main-color"></i></a>
  </div>
</div>
   
  <div class="list-group-item container-fluid no-padding" ng-repeat="chip in chips">
  <div class="clearfix visible-xs-block"></div>
   <div class="col-xs-3" style="height:54px;line-height:54px;">
   <img ng-if="chip.type==0" src="/image/bind/xinpian.png" style="max-width:100%;max-height: 100%">
   <img ng-if="chip.type==1" src="/image/bind/fzw.png" style="max-width:100%;max-height: 100%">
  </div>
   <div class="col-xs-9 no-padding" style="line-height:54px;">
  <div class="container-fluid no-padding" style="line-height:54px;height:54px">
                 <div class="col-xs-12 no-padding text-left text-truncate" style="line-height:30px;height:30px"  ng-bind="chip.number">
                 </div>
                 <div class="col-xs-12 no-padding text-left" style="line-height:20px;height:20px">
                   <small class="text-muted">绑定时间:{{chip.bind_time}}</small>
                 </div>
  </div>
   </div>
   </div>
  


