
<link href="css/team/team.css" rel="stylesheet" />
<div data-ng-controller="TrackerLogsCtrl" data-ng-init="init()">
  <header class="header">
    <div class="team-logo animated fadeIn">
      <img ng-src="{{crew.logo}}">
    </div>
    <div class="team-name animated fadeInUp">{{crew.name}}</div>
    <div class="team-desc animated fadeInUp">{{crew.desc}}</div>
  </header>
  <div class="content-box user-run-box content-last" infinite-scroll="loadMore()" infinite-scroll-disabled="isLoading" infinite-scroll-distance="1">
    <article class="user-run-list animated fadeInUp" ng-repeat="log in logs">
      <div class="run-box">
        <a href="#/user/{{crew.domain}}/{{log.user.id}}" class="user-logo">
          <pt-avatar avatar="{{log.user.avatar}}" thumb="120"></pt-avatar>
        </a>
        <a href="#/detail/{{crew.domain}}/{{log.id}}">
          <div class="top clearfix">
            <span class="text left">{{log.user.name}}</span>
            <span class="text right">{{log.executed_at}}</span>
          </div>
          <ul class="run-data">
            <li>
              <strong>{{log.distance}}</strong>
              <span>KM</span>
            </li>
            <li class="center">
              <i class="icon ion-ios-timer-outline"></i>
              <span>{{log.average}}/KM</span>
            </li>
            <li>
              <i class="icon ion-ios-stopwatch-outline"></i>
              <span>{{log.duration}}</span>
            </li>
          </ul>
          <ul class="photos clearfix">
            <li ng-repeat="photo in log.photos">
              <img  ng-src="{{photo.indexOf('upaiyun')>0 ? photo+'!thumb60' : photo}}" >
            </li>
          </ul>
          <ul class="likes clearfix" ng-show="log.favors.length != 0">
            <li ng-show="$index < 8" ng-repeat="favor in log.favors">
              <pt-avatar avatar="{{favor.user.avatar}}" thumb="60"></pt-avatar>
            </li>
            <li class="number" ng-show="log.favors.length > 8">{{log.favors.length}}</li>
          </ul>
        </a>
      </div>
    </article>
    <div class="user-run-list-none" ng-show="pageLoading">
      <p><i class="ion-load-d"></i>加载中……</p>
    </div>
    <div class="user-run-list-none" ng-show="!pageLoading && logs.length == 0">
      <p>暂无打卡</p>
    </div>
  </div>
</div>
<pt-tab-bar></pt-tab-bar>