<section id="activity-runner" class="section">
	<div class="topBar">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<i class="fa fa-chevron-left" ng-click="back()"></i>
				</div>
				<div class="col-xs-8">
					<div class="title text-center">跑友列表</div>
				</div>
				<div class="col-xs-2">
					<div class="top">
						<i class="fa fa-ellipsis-v" ng-click="isTopNavFn()" ng-if="is_admin||isActer"></i>
						<ul class="top-nav" ng-class="{active: isTopNav}" ng-if="is_admin||isActer">
							<li ui-sref="sendemail"><i class="icon icon-export"></i>导出</li>
						</ul>
						<div class="top-nav-overlay" ng-class="{active: isTopNav}" ng-click="closeFn()" ng-if="is_admin||isActer"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="head margin-bottom-10">
		<tabset class="nav clearfix">
			<tab ng-repeat="tab in tabs" ui-sref="{{tab.src}}" active="tab.active">{{tab.title}}</tab>
		</tabset>
	</div>
	<div ui-view></div>
</section>