<div class="ngdialog-message">
    <div class="title">分享</div>
    <div class="content">
    	<ul class="clearfix">
    		<li ng-click="shareFn()">
    			<i class="icon icon-friends"></i>
    			<h5>朋友圈</h5>
    		</li>
    		<li ng-click="shareFn()">
    			<i class="icon icon-wx"></i>
    			<h5>微信</h5>
    		</li>
    		<!-- <li>
    			<i class="icon icon-qq"></i>
    			<h5>QQ</h5>
    		</li>
    		<li>
    			<i class="icon icon-qzone"></i>
    			<h5>QQ空间</h5>
    		</li> -->
    		<!-- <li>
    			<i class="icon icon-copy"></i>
    			<h5>复制</h5>
    		</li> -->
    	</ul>
    </div>
</div>